body {
  background-color: grey;
}

h4 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: block;
  margin: 300px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: lightseagreen;
  border-radius: 10px;
}

.wrapper {
  padding-top: 20px;
}

.card-contents {
  padding: 5px 5px 10px 5px;
}

button {
  padding: 10px;
  margin: 24px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  font-size: 24px;
  background-color: lightcyan;
  color: black;
  font-weight: bold;
  border-radius: 25px;
}
